@keyframes tire {
    0% {transform:rotate(0);}
    100% {transform:rotate(360deg);}
}
@keyframes bg {
    0% {background-position:0 0;}
    100% {background-position:1000px 0;}
}
@keyframes scroll {
    0% {transform:translateY(0px);}
    50% {transform:translateY(-20px);}
}